/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}

/* Default Link Styles */
a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  &:hover,
  &:focus {
    color: $anchor-font-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
    }
  }

  img { border:none; }
}

/* Default paragraph styles */
p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;

  small {
    font-size: $small-font-size;
    color: $small-font-color;
    line-height: 0;
  }
}

h1, .h1 { font-size: $h1-font-size - $h1-font-reduction; }
h2, .h2 { font-size: $h2-font-size - $h2-font-reduction; }
h3, .h3 { font-size: $h3-font-size - $h3-font-reduction; }
h4, .h4 { font-size: $h4-font-size - $h4-font-reduction; }
h5, .h5 { font-size: $h5-font-size - $h5-font-reduction; }
h6, .h6 { font-size: $h6-font-size - $h6-font-reduction; }

hr {
  border: $hr-border-style $hr-border-color;
  border-width: $hr-border-width 0 0;
  clear: both;
  margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: $font-weight-bold;
  line-height: inherit;
}

small {
  font-size: $small-font-size;
  line-height: inherit;
}

/* Lists */
ul,
ol,
dl {
  font-size: $list-font-size;
  line-height: $list-line-height;
  margin-bottom: $list-margin-bottom;
  list-style-position: $list-style-position;
  font-family: $list-font-family;
}

ul {
  margin-#{$default-float}: $list-side-margin;
}

/* Unordered Lists */
ul {
  li {
    ul,
    ol {
      margin-#{$default-float}: $list-nested-margin;
      margin-bottom: 0;
    }
  }
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: $body-font-color;
  border-bottom: $acronym-underline;
  cursor: $cursor-help-value;
}
abbr {
  text-transform: none;
}


@media #{$medium-up} {
  h1,h2,h3,h4,h5,h6 { line-height: $header-line-height; }
  h1, .h1 { font-size: $h1-font-size; }
  h2, .h2 { font-size: $h2-font-size; }
  h3, .h3 { font-size: $h3-font-size; }
  h4, .h4 { font-size: $h4-font-size; }
  h5, .h5 { font-size: $h5-font-size; }
  h6, .h6 { font-size: $h6-font-size; }
}

.error {
  background-color: $red;
  border-color: scale-color($red, $lightness: -14%);
  color: #fff;
  text-align: center;
  padding: 1rem;

  a {
    color: $body-font-color;
    text-decoration: underline;

    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}

.success {
  background-color: $blue;
  border-color: scale-color($blue, $lightness: -14%);
  color: #fff;
  text-align: center;
  padding: 1rem;

  a {
    color: $body-font-color;
    text-decoration: underline;

    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}
