#calendar {
  @include grid-column(12);

  .calendar-nav {
    text-align: center;
  }
  .calendar-nav-month,
  .calendar-nav-year,
  .calendar-nav-today {
    @include grid-column(12);
  }
  @media #{$large-up} {
    .calendar-nav-month {
      @include grid-column(6);
      a:first-child {
        @include grid-column($columns: 1, $pull: 5, $float: right, $collapse: true);
      }
      a:last-child {
        @include grid-column($columns: 1, $push: 5, $float: right, $collapse: true);
      }
      span {
        @include grid-column($columns: 4, $float: right, $collapse: true);
      }
    }
    .calendar-nav-year {
      @include grid-column(6);
      a {
        @include grid-column($columns: 1, $collapse: true);
      }
      span {
        @include grid-column($columns: 3, $collapse: true);
      }
    }
  }

  .calendar-type {
    @include grid-column(12);
    text-align: center;

    .switch {
      @include switch;
      @include switch-size($switch-height-sml);
      label { @include radius(4px); }
      label:after { @include radius(3px); }

      display: block;
      @media #{$medium-up} {
        display: inline-block;
      }
      font-size: rem-calc(11);
      margin: 0 1rem;
      text-align: center;

      label {
        margin-left: auto !important;
        margin-right: auto !important;
        overflow: hidden;
      }
    }

    @media #{$medium-up} {
      .calendar-type-summary {
        display: none;
      }

      form {
        display: block !important;
      }
    }
  }

  table {
    @include grid-column(12);
    table-layout: fixed;
    padding: 0;

    td {
      background: $calendar-out;
      height: 1rem;
      text-align: center;
      vertical-align: middle;
      width: 1rem;


      @media #{$medium-up} {
        height: 8rem;
        width: 8rem;
      }

      .day {
        display: block;
        font-size: $h4-font-size - $h4-font-reduction;
        @media #{$medium-up} {
          font-size: $h2-font-size - $h2-font-reduction;
          margin-bottom: 1rem;
        }
      }
      .data {
        display: block;
        font-size: 0.6rem;
        @media #{$medium-up} {
          font-size: 1rem;
        }
      }

      &.empty {
        background: $calendar-empty;
      }
      &.blue {
        background: $blue;
        color: $white;
      }
      &.white {
        background: #FFF;
      }
      &.red {
        background: $red;
        color: $white;
      }
    }
  }
}
