#forecast {
  @include grid-column(12);

  .forecast-tempo-day {
    @include grid-column(12);
    margin-bottom: 2rem;
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(5);
    }
    @media #{$large-up} {
      @include grid-column(3);
      margin-bottom: 0;
      text-align: left;
    }
  }

  .forecast-tempo-day-undefined,
  .forecast-tempo-day-blue,
  .forecast-tempo-day-white,
  .forecast-tempo-day-red {
    @include hide-text(left);

    display: block;
    height: 175px;
    margin: 0 auto;
    width: 253px;

    @media #{$large-up} {
      margin: 0;
    }
  }
  .forecast-tempo-day-undefined {
    @include forecast-tempo-sprite(undefined);
  }
  .forecast-tempo-day-blue {
    @include forecast-tempo-sprite(blue);
  }
  .forecast-tempo-day-white {
    @include forecast-tempo-sprite(white);
  }
  .forecast-tempo-day-red {
    @include forecast-tempo-sprite(red);
  }

  .forecast-tempo-counter {
    @include grid-column(12);

    @media #{$large-up} {
      @include grid-column(6);
    }
  }

  .forecast-tempo-counter-blue {
    @include button-base;
    @include button-size($padding:$button-sml);
    @include button-style($bg:$blue, $radius:true, $bg-hover:$blue);
    @include single-transition(background-color);
    cursor: $button-disabled-cursor;
  }
  .forecast-tempo-counter-white {
    @include button-base;
    @include button-size($padding:$button-sml);
    @include button-style($bg:$white, $radius:true, $bg-hover:$white);
    @include single-transition(background-color);
    cursor: $button-disabled-cursor;
  }
  .forecast-tempo-counter-red {
    @include button-base;
    @include button-size($padding:$button-sml);
    @include button-style($bg:$red, $radius:true, $bg-hover:$red);
    @include single-transition(background-color);
    cursor: $button-disabled-cursor;
  }

  .forecast-ejp-table {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(4);
    }
    @media #{$large-up} {
      @include grid-column(3);
    }

    ul {
      @include pricing-table-container;
    }
    li {
      @include pricing-table-bullet;
      text-align: left;

      &:last-child {
        border-bottom: none;
      }

      &.title {
        @include pricing-table-title;
        border-bottom: none;
      }
      &.forecast-ejp-item-ejp {
        background: $red;
        color: $white;
      }
      &.forecast-ejp-item-not {
        background: $blue;
        color: $white;
      }
    }

    .forecast-ejp-counter {
      @include label-base;
      @include label-size(rem-calc(5 8 5), rem-calc(14));
      @include label-style($red, $radius:1000px);
    }
    .forecast-ejp-counter-zero {
      @include label-base;
      @include label-size(rem-calc(5 8 5), rem-calc(14));
      @include label-style($white, $radius:1000px);
    }

    .ejp-icon {
      width: 24px;
    }
  }

  .forecast-ejp-ads {
    @include grid-column(12);
    text-align: center;

    @media #{$large-up} {
      @include grid-column(3);
    }
  }
}
